:root{
    --background_color: rgb(215, 197, 173);
    --link_color: rgb(162, 150, 133);
    --link_color_hover: rgb(182, 178, 172);

}

/* removing formatting done by github*/
h1{
    display: none;
}

.my-5{
    margin-top:0;
}


/* my styling */
body{
    background-color: var(--background_color);
} 

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.quoteblock > :first-child {
    color: yellow;
  }

a {
    color:var(--link_color);
    text-decoration: underline;
}
a:hover{
    color:var(--link_color_hover);
}

.contact_title{
    Color: var(--link_color);
}

iframe{
    height:100%;
    width:100%;
    border:0;
}