:root{
    --background_color: rgb(255, 225, 186);
    --link_color: rgb(132, 132, 132);
    --link_color_hover: rgb(164, 164, 164);

}

/* removing formatting done by github*/
h1{
    display: none;
}

.markdown-body{
    margin-top:0;
    background-color: rgb(255, 211, 153);
}


/* my styling */
body{
    background-color: var(--background_color);
} 

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

blockquote {
    color: yellow;
  }

a {
    color:var(--link_color);
    text-decoration: underline;
}
a:hover{
    color:var(--link_color_hover);
}

.contact_title{
    Color: var(--link_color);
}

input, textarea{
    width:100%;
}

iframe{
    border-top: 10px;
    height:30%;
    width:100%;
    border:0;
}