:root{
    --background_color: rgb(215, 197, 173);
    --link_color: rgb(226, 223, 220);
    --link_color_hover: rgb(255, 234, 208);

}

/* removing formatting done by github*/
h1{
    display: none;
}

.markdown-body{
    margin-top:0;
}


/* my styling */
body{
    background-color: var(--background_color);
} 

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.blockquote > :first-child {
    color: yellow;
  }

a {
    color:var(--link_color);
    text-decoration: underline;
}
a:hover{
    color:var(--link_color_hover);
}

.contact_title{
    Color: var(--link_color);
}

iframe{
    height:20%;
    width:100%;
    border:0;
}